.panoram-wrap
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
    left:100%;
    top:0px;
}

.panoram-wrap .panoram
{
	height: 100%;
	float: left;
	position: absolute;
	cursor: move;

	width:6616px;

}

.panoram-wrap .panoram img
{
	position: absolute;
	height: 100%;
}

.panoram-wrap .pano-borders
{
	height: 100%;
	position: absolute;
}

.panoram-wrap .help
{
   position: absolute;  
   overflow: auto;  
   width: 147px;  
   height: 147px; 
   left: 50%;  
   top: 50%;  
   margin-left: -75px;  
   margin-top: -75px;  
   background: url("../img/help.png");
   cursor: move;
}

.panoram-wrap .help_ru
{
  position: absolute;  
   overflow: auto;  
   width: 147px;  
   height: 147px; 
   left: 50%;  
   top: 50%;  
   margin-left: -75px;  
   margin-top: -75px;  
   background: url("../img/help_ru.png");
   cursor: move;
}

.panoram-wrap .help_en
{
  position: absolute;  
   overflow: auto;  
   width: 147px;  
   height: 147px; 
   left: 50%;  
   top: 50%;  
   margin-left: -75px;  
   margin-top: -75px;  
   background: url("../img/help_en.png");
   cursor: move;
}

.panoram-wrap .close
{
	position: absolute;
	display: block;
	width: 33px;
	height: 33px;
	background: url("../img/close-sprite.png") no-repeat;
	z-index: 99;
	right: 30px;
	top:30px;
}

.panoram-wrap .close:hover{background-position: -33px 0;}


.panoram-wrap .left
{
	display: block;
	background: url("../img/left-right.png");
	width:23px;
	height: 54px;
	background-position: 0 -54px;
	position: absolute;
	left: 30px;
	top: 50%;  
	margin-top: -27px;
	display: none;
}

.panoram-wrap .left:hover
{
	background-position: 0 0;
}

.panoram-wrap .right
{
	display: block;
	background: url("../img/left-right.png");
	width:23px;
	height: 54px;
	background-position: -23px -54px;
	position: absolute;
	right: 30px;
	top: 50%;  
	margin-top: -27px;
}

.panoram-wrap .right:hover
{
	background-position: -23px 0;
}


.panoram-wrap .back
{
	position: absolute;
	display: block;
	width: 244px;
	height: 33px;
	background: url("../img/back.png") no-repeat;
	z-index: 99;
	left: 30px;
	top:30px;
}
.panoram-wrap .back:hover
{
	background: url("../img/back_over.png") no-repeat;
}

.panoram-wrap .back_ru
{
	position: absolute;
	display: block;
	width: 236px;
	height: 33px;
	background: url("../img/back_ru.png") no-repeat;
	z-index: 99;
	left: 30px;
	top:30px;
}

.panoram-wrap .back_ru:hover
{
	background: url("../img/back_ru_over.png") no-repeat;
}


.panoram-wrap .back_en
{
	position: absolute;
	display: block;
	width: 236px;
	height: 33px;
	background: url("../img/back_en.png") no-repeat;
	z-index: 99;
	left: 30px;
	top:30px;
}
.panoram-wrap .back_en:hover
{
	background: url("../img/back_en_over.png") no-repeat;
}
