#slide-3 
{
	width:100%;
	height:100%;
	overflow: hidden;
}

#slide-3 .bg {
  position: absolute; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#slide-3 .bg img {
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#slide-3 .subslides-wrap
{
	width: 100%;
	height: 400%;
	display: inline-block;
	position: absolute;
}

#slide-3 .subslides-wrap .subslide
{
	width: 100%;	
	float: left;
	position: relative;
}

#slide-3 .logo
{
	position: absolute;
	float: right;
	right: 10px;
	bottom:10px;
	z-index: 99; 
}

#slide-3 .text
{
	position: absolute;
	z-index: 99;
	font-family: Arial;
	font-size: 36px;
	color: white;
	text-transform: uppercase;
	bottom: 7%;
	left: 5%;
}

#slide-3 .text span 
{
	font-weight: bold;
	font-size:43px;
	color: #abd037;
}

#slide-3 .text p
{
	text-transform: none;
	font-size: 12px;
	display: block;
	width:350px;
	margin-top: 20px;
}

#slide-3 .road-wrap
{
	position:absolute;
	right: 20px;
	top:50%;	
	width:340px;
	height:563px;
	background: url("../img/road-bg.png");
	margin-top: -230px;
	z-index: 99;
}

#slide-3 .road-wrap.road-2
{
	background: url("../img/road-bg-1.png");

}

#slide-3 .road-wrap .road
{
	width: 120px;
	height: 518px;
	background: url("../img/road.png");
	position: absolute;
	left: 100px;
	bottom: 28px;
	z-index: 4;
}

#slide-3 .road-wrap.road-2 .road
{
	background: url("../img/road-2.png");
	width: 154px;
	left: 80px;
	bottom: 20px;
}

#slide-3 .road-wrap .road-white
{
	width: 120px;
	height: 0px;
	position: absolute;
	left: 100px;
	bottom: 28px;
	z-index: 5;
	overflow: hidden;
}

#slide-3 .road-wrap.road-2 .road-white
{
	width:340px;
	height:563px;
	left: 3px;
	bottom: -19px;
}

#slide-3 .road-wrap .road-white img
{
	position: absolute;
	bottom: 0px;
}

#slide-3 .road-wrap.road-2 .road-white-1
{
	position: absolute;
	width:340px;
	height:563px;
	left: 3px;
	top: 19px;
	z-index: 5;
	overflow: hidden;
}

#slide-3 .road-wrap .road-white-1 img
{
	position: absolute;
	top: 0px;
}

#slide-3 .road-wrap .road-cities
{
	width: 303px;
	height: 523px;
	background: url("../img/road-cities.png");
	position: absolute;
	left: 25px;
	bottom: 11px;
	z-index: 6;
}

#slide-3 .road-wrap.road-2 .road-cities
{
	width: 315px;
	height: 514px;
	background: url("../img/road-cities-2.png");
}

#slide-3 .road-wrap .road-marker
{
	width:134px;
	height: 44px;
	background: url("../img/road-marker.png") no-repeat;
	position: absolute;
	bottom: 42px;
	left: 15px;
	z-index: 10;
}

#slide-3 .road-wrap .road-marker .value-wrap
{
	width: 85px;
	height: 44px;
	font-family: Georgia;
	color: white;
	font-size: 30px;
	float: left;
	text-align: center;
}

#slide-3 .road-wrap .road-marker span
{
	font-family: Arial;
	color: white;
	font-size: 12px;
}


#slide-3 .road-wrap .road-marker .value
{
	font-family: Georgia;
	color: white;
	font-size: 30px;
}


#slide-3 .road-wrap .area
{
	width: 4px;
	height: 4px;
	background: red;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 99;
}


#slide-3 .road-wrap .start-label, #slide-3 .road-wrap .end-label
{	
	display: block;
	width: 150px;
	font-family: Arial;
	color:#abd037;
	font-size: 12px;
	position: absolute;
}

#slide-3 .road-wrap .start-label
{
	margin:15px 0 0 180px;
}

#slide-3 .road-wrap .end-label
{
	margin:1410px 0 0 50px;
}

#slide-3 .road-wrap .start-label span
{
	text-transform: uppercase;
	color: #fff;
}

#slide-3 .road-wrap .end-label span
{
	text-transform: uppercase;
	color: #fff;
}

#slide-3 .switcher
{
	position: absolute;
	top: 125px;
	left:100px;
}

#slide-3 .switcher a
{
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	color: white;
	background: #abd037;
	text-transform: uppercase;
	padding: 13px 10px;
	float: left;
	margin-left:1px; 
	position: relative;
}

#slide-3 .switcher a div
{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 13px 12px 0 12px;
	border-color: #abd037 transparent transparent transparent;
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -13px;
	display: none;
}

#slide-3 .switcher a.active 
{
	background: #005332;
}

#slide-3 .switcher a.active div
{
	display: block;
	border-color: #005332 transparent transparent transparent;
}


