#slide-4 {z-index:100;}
#slide-4 .wrapp {
    width:50%;
    height: 100%;
    float: right;
    position: relative;
    overflow: hidden;
    
}

#slide-4 .wrapp *
{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}

#slide-4 .slider {
    position: absolute;
    top:76px;
    left:0px;
    width:50%;
    height:100%;
    z-index: 3;
}
#slide-4 .slider-wrapper {
    width:100%;
    height:100%;
    background: #fff;
    position: relative;
    overflow: hidden;
}
#slide-4 .slide {
    width:100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    overflow: hidden;
}
#slide-4 .slide-img {
    display: block;
    width:100%;
    height: 100%;
    overflow: hidden;

}
#slide-4 .slide-img img {
    position: absolute;
    top: -308px;
  
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}
#slide-4 .slide-descr {
    height:308px;
    width:100%;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    bottom: 0;
}
#slide-4 .slide-descr-wrapp {
    padding-top:70px;
    width: 78%;
    margin: auto;
}

#slide-4 .slide-descr-wrapp h1 {
    color:#005332;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial;
    display: block;
    font-weight: normal;
    margin-bottom:20px;
}
#slide-4 .slide-descr-wrapp p {
    color:#7f7f7f;
    font-size:12px;
}

#slide-4 .photo-left {
    position: absolute;
    bottom:158px;
    left:0px;
	z-index:100;
}

#slide-4 .photo-right {
    position: absolute;
    bottom:158px;
    right:0px;
	z-index:100;
}




/* Basic css */
.photo-left,.photo-right
{
	display: block;
	width: 36px;
	height: 58px;
	background: url("../img/photo-nav-sprite.png") no-repeat;
}

.photo-left{background-position: 0 0;}
.photo-right{background-position:-36px 0;}

.photo-left:hover{background-position: 0 -58px;}
.photo-right:hover{background-position:-36px -58px;}
