/*-------- SLIDE 1 --------*/
#slide-1 .main-logo {
    position: relative;
    width:335px;
    margin: 0 auto;
    top:119px;
    z-index: 2;
}
#slide-1 .main-logo img {
    display: block;
    margin: 0 auto;
    max-width:100%;
}
#slide-1 .main-logo-description {
    display: block;
	z-index:999999999;
    font-size:20px;
    line-height:40px;
    color:#005332;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
#slide-1 .line {
    width:0px;
    height:2px;
    position: absolute;
    left:0px;
    top:55%;
    margin-top:-1px;
    background: #abd037;
    z-index: 3;
    overflow: hidden;
}
#slide-1 .line.line-background {
    /*background: #abd037 url('../img/line-background.png') right bottom no-repeat;*/
    -webkit-background-size: auto 95%;
    -moz-background-size: auto 95%;
    -o-background-size: auto 95%;
    background-size: auto 95%;
  
    margin: auto;
}
#slide-1 .line-open {
    width: 295px;
    height:0px;
    position: absolute;
    top:2px;
    left:52%;
    text-align: right;
    background: #abd037;
    line-height:32px;
    color:#fff;
    overflow: hidden;
}
#slide-1 .line-open a {
    color:#fff;
    text-decoration: none;
    display: block;
    padding-right:20px;
    font-size:16px;
    background: #abd037;
}
#slide-1 .line-open a:hover {
    background: #fff;
    color: #abd037;
}
#slide-1 .line-open a span {
    position: relative;
    z-index: 4;
}
#slide-1 .sheet {
    width: 322px;
    height: 558px;
    background: url('../img/sheet.png') center bottom no-repeat;
    position: absolute;
    bottom:0px;
    left:33%;
    z-index: 5;
    background-size: 100% auto;

}
#slide-1 .drop {
    width: 38%;
    height: 56%;
    background: url('../img/drop1.png') center top no-repeat;
    position: absolute;
    bottom: 20%;
    left:38%;
    background-size: contain;
    overflow: visible;
}

#slide-1 .drop-2 {
    width: 60%;
    height: 26%;
    position: absolute;
    bottom: 41%;
    left: 3%;
}

#slide-1 .text-slider-wrapper {
    width:290px;
    left:13%;
    height:85%;
    top:10%;
    position: absolute;
    display: none;
    overflow: hidden;
}
#slide-1 .text-slider {
    height: 85%;
    width:100%;
    position: relative;
}
#slide-1 .single-text-slide {
    width:100%;
    height:100%;
    float:left;
    position: absolute;
    top:0px;
    left:0px;
}
#slide-1 .bjqs-slide h3 {
    font-size:36px;
    line-height: 1.2;
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#slide-1 .bjqs-slide p {
    color:#fff;
    font-size:12px;
    line-height:16px;
}
#slide-1 .text-slider-buttons {
    float:left;
    height:22px;
    margin-top:15px;
}

#slide-1 .bjqs-prev, #slide-1 .bjqs-next
{
    position: absolute;
    margin-top:6px;
}

#slide-1 .bjqs-prev a{
    display: block;
    width: 13px;
    height: 22px;
    font-size: 0;
    background-image: url('../img/slider-button-prev.png');
}
#slide-1 .bjqs-prev a:hover {
    background-image: url('../img/slider-button-prev-hover.png');
    cursor: pointer;
}
#slide-1 .bjqs-next a{
    display: block;
    width: 13px;
    height: 22px;
    font-size: 0;
    background-image: url('../img/slider-button-next.png');
}
#slide-1 .bjqs-next a:hover {
    background-image: url('../img/slider-button-next-hover.png');
}

#slide-1 .bjqs-markers li a
{
    width: 12px;
    height: 12px;
    font-size: 0;
    margin: 0 3px;
    background-image: url('../img/slider-button.png');
}

#slide-1 .bjqs-markers
{
    margin-left:35px;
}

#slide-1 .bjqs-markers li.active-marker a
{
    background-image: url('../img/slider-button-selected.png');   
}

#slide-1 .line-exit {
    width: 33px;
	height: 33px;
    position: absolute;
    right:0px;
    top:-33px;
    display: none;
}
#slide-1 .line-exit a {
    display: block;
    width: 100%;
    height: 100%;
	background: url("../img/close-sprite.png") no-repeat;
}
#slide-1 .line-exit a:hover{background-position: -33px 0;}

#slide-1 .wrapp
{
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200% !important;
    overflow: hidden;
}

#slide-1 .wrapp *
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}

#slide-1 .wrapp img{
    z-index: 1;
}

#slide-1 .wrapp video{
    z-index: 2;
}


#slide-1 .slide-1-left
{
    position: absolute;
    z-index: -1;
    display: none;
    top:10px;
    left:-100%;
}

#slide-1 .slide-1-right
{
    position: absolute;
    z-index: -1;
    display: none;
    top:10px;
    right:-100%;
}

/*#video {
z-index: 2001;
position: absolute;
top: 50%;
left: 50%;
margin-top: -181px;
margin-left: -327px;
padding: 20px;
padding-bottom: 40px;
background: #fff;
}*/

#video{
position: absolute;
top: 65%;
left: 57%;
padding: 6px 8px 40px 8px;
margin: -280px 0 0 -360px;
background: #F4F4F4;
z-index: 99999;
text-align: left;
border-radius: 3px;
-moz-border-radius: 3px;
-webkid-border-radius: 3px;
-ms-border-radius: 3px;
}

#video a {
position: absolute;
display: block;
margin-top: 5px;
right: 6px;
bottom: 8px;
width: 26px;
height: 26px;
background: url(../img/close.png) no-repeat;
}

#podkladka{
	position: absolute;
background: #000;
opacity: 0.6;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 2000;
}


noindex:-o-prefocus,#slide-1 .wrapp video{
	/*width:100%;height:100%; */
}

noindex:-o-prefocus,#slide-1 .wrapp{
    left:0;
    top:0;
}
