#slide-2 .sides {
    position: absolute;
    top:0px;
    left:100%;
    width:33.333%;
    height:100%;
    z-index: 3;
}
#slide-2 .sides:first-child {
    left:-50%;
}
#slide-2 #slide-2-side-1 {
    /*background: url('../img/slide-2-side-1-background.jpg') left top no-repeat;*/
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
}

#slide-2 #slide-2-side-1 .bg
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#slide-2 #slide-2-side-1 a {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
#slide-2 .slide-2-mestnosti {
    position: absolute;
    width:124px;
    height: 142px;
    top:50%;
    left:50%;
    margin:-62px 0 0 -71px;
    background: url('../img/smotret-mestnosti.png') center center no-repeat;
    background-size: 100% 100%;
}
#slide-2 h1 {
    color:#005332;
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
    padding-top: 70px;
    line-height: 70px;
}
#slide-2 h2 {
    color:#abd037;
    text-transform: uppercase;
    font-size:20px;
    line-height: 30px;
    padding-bottom:15px;
}
#slide-2 p {
    color:#7f7f7f;
    font-size:12px;
    line-height: 1.2;
    margin-bottom:15px;
}
#slide-2 .wrapper {
    margin:80px 30px 0 30px;
    padding-bottom: 30px;
}

/* Scrollbar */
#slide-2 #scrollbar1 { width: 100%; clear: both; height: 100%; }
#slide-2 #scrollbar1 .viewport { width: auto; height: 100%; overflow: hidden; position: relative; background: #fff; }
#slide-2 #scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; width:100%; }
#slide-2 #scrollbar1 .thumb .end,
#slide-2 #scrollbar1 .thumb { background-color: #abd037; }
#slide-2 #scrollbar1 .scrollbar { position: relative; float: right; width: 10px; }
#slide-2 #scrollbar1 .track {  height: 100%; width:10px; position: relative; background: url("../img/track-bg.png");}
#slide-2 #scrollbar1 .thumb { height: 20px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#slide-2 #scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 10px; }
#slide-2 #scrollbar1 .disable{ display: none; }
#slide-2 .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


#slide-2 #scrollbar2 { width: 100%; clear: both; height: 100%; }
#slide-2 #scrollbar2 .viewport { width: auto; height: 100%; overflow: hidden; position: relative; background: #fff; }
#slide-2 #scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; width:100%; }
#slide-2 #scrollbar2 .thumb .end,
#slide-2 #scrollbar2 .thumb { background-color: #abd037; }
#slide-2 #scrollbar2 .scrollbar { position: relative; float: right; width: 10px; }
#slide-2 #scrollbar2 .track {  height: 100%; width:10px; position: relative; background: url("../img/track-bg.png");}
#slide-2 #scrollbar2 .thumb { height: 20px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#slide-2 #scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 10px; }
#slide-2 #scrollbar2 .disable{ display: none; }
#slide-2 .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#slide-2 #slide-2-side-2
{
    top:50px;
}

#slide-2 #slide-2-side-3 {
    /*background: #fff url('../img/slide-2-side-3-background.jpg') right bottom no-repeat;*/
    background-size: 100% 100%;
    overflow: hidden;
}

#slide-2 #slide-2-side-3 .bg
{
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#slide-2 .infobar {
    width:auto;
    height:480px;
    position: absolute;
    bottom: 40px;
    right:25px;
}
#slide-2 .bar {
    width:auto;
    height:20%;
    position: relative;
    padding-right:70px;
    display: none;
    overflow-y: hidden;
}

#slide-2 .bar.bar-4 {
    height:26%;
}

#slide-2 .bar.bar-4 .lake {
    position: absolute;
    top: 15px;
    right: 70px;
    z-index: 0;
}

#slide-2 .bar .text {
    display: block;
    text-align: right;
    color:#005332;
    font-size:11px;
    line-height:11px;
    text-transform: uppercase;
    opacity: 0;
}
#slide-2 .bar .count {
    display: block;
    text-align: right;
    color:#005332;
    font-size:45px;
    line-height:45px;
    font-family: Georgia;
    position: relative;
    z-index: 99;
    
}
#slide-2 .bar-bar {
    width:62px;
    height:100%;
    position: absolute;
    right:0px;
    top:100%;
    background: #fff;
}
#slide-2 .bar-bar img {
    display: block;
    height: 100%;
    max-width:100%;
    max-height:118px;
    margin: 0 auto;
}
#slide-2 #bar-1 {
    background: #005332;
}
#slide-2 #bar-2 {
    background: #d0e591;
}
#slide-2 #bar-3 {
    background: #e9f5c5;
}
#slide-2 #bar-5 {
    background: #f4f4f4;
}


#slide-2 #bar-4 img
{
    max-height: 150px;
}

#slide-2 .wrapp
{
    top:-50%;
    left: -50%;
    width: 200%;
    height: 200%;
    overflow: hidden;
}

#slide-2 .wrapp video
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}

noindex:-o-prefocus, #slide-2 .wrapp video{
   /* height:100%; width:100%*/
} 

noindex:-o-prefocus, #slide-2 .wrapp{
    left:0;
    top:0;
    }


#slide-2 .wrapp *
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}



#slide-2 .switcher
{
    position: absolute;
    top: 70px;
    left:50%;
    margin-left: -175px;
    z-index: 50;
}

#slide-2 .switcher a
{
    text-decoration: none;
    font-family: Arial;
    font-size: 13px;
    color: white;
    background: #abd037;
    text-transform: uppercase;
    padding: 13px 10px;
    float: left;
    margin-left:1px; 
    position: relative;
}

#slide-2 .switcher a div
{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #abd037 transparent transparent transparent;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -13px;
    display: none;
}

#slide-2 .switcher a.active 
{
    background: #005332;
}

#slide-2 .switcher a.active div
{
    display: block;
    border-color: #005332 transparent transparent transparent;
}

