#slide-5 
{
	width:100%;
	height:100%;
	overflow: hidden;
	text-align: center;
	
}
#slide-5 #bg {
  position: absolute; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#slide-5 #bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}


#slide-5 .tabs-wrap
{
	width: 100%;
	display: inline-block;
	text-align: center;
}

#slide-5 .tabs
{
	margin: auto;
	display: inline-block;
	position: relative;
	z-index: 5;
	margin-top: 100px;
	*margin: 0;
	*width: 500px;
}

#slide-5 .tabs a
{
	float: left;
	font-family: Arial;
	font-size: 12px;
	color: #616161;
	text-transform: uppercase;
	border-bottom: 1px dashed #616161;
	text-decoration: none;
	margin: 0 16px;
	margin-top: 4px;
}

#slide-5 .tabs a.active
{

	display: block;
	padding: 0 9px;
	height: 25px;
	background: #005332;
	border: 0;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin-top: 0;
	font-family: Arial;
	font-size: 12px;
	margin: 0 7px;

}
#slide-5 .tabs a.active .triangle
{
	display: block;
}
#slide-5 .tabs .triangle
{ 
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent; 
	border-top: 7px solid #005332; 
	margin: auto;
	*margin: 0;
	z-index: 100;
	display: none;
}

#slide-5 .vert
{

	display:block;	
}

#slide-5 .deep-wrap
{
	width:997px;
	margin: auto;
	display: inline-block;
	position: relative;
	z-index: 99;
}


#slide-5 .deep-slider
{
	text-align: right;
	width: 160px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	left: 70px;
	top: 322px;
	z-index: 9999;
}

#slide-5 .deep-slider .height-source
{
	color: #005332;
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 12px;
	width: 100px;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: -10px;
}

#slide-5 .deep-slider .help
{
	float: right;
	color: #7f7f7f;
	font-family: Arial;
	font-size: 12px;
	margin-top: 10px;
}

#slide-5 .deep-slider .box
{
	width:160px;
	height: 60px;
	background: #abd037;
	position: relative;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	text-align: center;

}

#slide-5 .deep-slider .box span
{
	font-family: Georgia;
	font-size: 52px;
	color: #fff;
	font-weight: normal;
	line-height: 48px;
	*line-height: 55px;
}

#slide-5 .deep-slider .box .triangle
{
 	width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #abd037;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -9px;
    top:20px;
}



#slide-5 .deep-wrap .line
{
	float: right;
	position: relative;
	z-index: 10;
	background: url("../img/deep-bg.png");
	width: 20px;
	height: 473px;
}

#slide-5 .active-area
{
	display: block;
	position: absolute;
	right: -5px;
	width:30px;
	height:30px;
	z-index: 99;
}

#slide-5 #active-area-1 {top:385px;}
#slide-5 #active-area-2 {top:275px;}
#slide-5 #active-area-3 {top:170px;}
#slide-5 #active-area-4 {top:60px;}
#slide-5 #active-area-5 {top:0px;}

#slide-5 .deep-wrap .line-filled
{
	position: absolute;
	right: 0;
	z-index: 9;
}
#slide-5 .deep
{
	float: left;
	width: 265px;
	display: inline-block;
	height: 600px;
	position: relative;
	margin-top: 20px;
	margin-left: -30px;
	z-index: 9999;
}

#slide-5 .bottle
{
	float: right;
	width: 690px;
	margin-right: 30px;
}

#slide-5 .bottle img
{
	float: left;
	margin: 10px 0 0 -20px;
}

#slide-5 .text
{
	float: right;
	display: inline-block;
	width: 386px;
	font-family: Arial;
	text-align: left;
	margin-top: 120px;
}

#slide-5 .text .title
{
	color: #005332;
	font-size: 64px;
	font-weight: bold;
	text-transform: uppercase;
}

#slide-5 .text .subtitle
{
	color: #abd037;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: -5px;
}

#slide-5 .text hr
{
	height: 1px;
	background: #bcbcbc;
	margin: 10px 0; 
	border:0;
}

#slide-5 .text .contains
{
	color: #005332;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 28px;
}

#slide-5 .text .main
{
	color: #888888;
	font-size: 12px;
}


#slide-5 #bottle-2 .title{	color: #2684c0;}
#slide-5 #bottle-2 .subtitle{	color: #00bce4;}
#slide-5 #bottle-2 .contains{	color: #2684c0;	}

#slide-5 #bottle-3 .title{	color: #831000;}
#slide-5 #bottle-3 .subtitle{	color: #ef4035;}
#slide-5 #bottle-3 .contains{	color: #831000;	}


#slide-5 #bottle-4 .title{	color: #4384e4;}
#slide-5 #bottle-4 .subtitle{	color: #0a548c;}
#slide-5 #bottle-4 .contains{	color: #0a548c;	}

#slide-5 #bottle-5 .title{	color: #4f6c4e;}
#slide-5 #bottle-5 .subtitle{	color: #9ba1a3;}
#slide-5 #bottle-5 .contains{	color: #9ba1a3;	}

#slide-5 #slider-1 .box {	background: #abd037;}
#slide-5 #slider-1 .triangle {	border-left: 10px solid #abd037;}

#slide-5 #slider-2 .box {	background: #00bce4;}
#slide-5 #slider-2 .triangle {	border-left: 10px solid #00bce4;}

#slide-5 #slider-3 .box {	background: #ef4035;}
#slide-5 #slider-3 .triangle {	border-left: 10px solid #ef4035;}

#slide-5 #slider-4 .box {	background: #abd037;}
#slide-5 #slider-4 .triangle {	border-left: 10px solid #abd037;}

#slide-5 #slider-5 .box {	background: #9ba1a3;}
#slide-5 #slider-5 .triangle {	border-left: 10px solid #9ba1a3;}

#slide-5 .labels
{
	font-family: Georgia;
	font-size: 12px;
	color: #616161;
	position: absolute;
	right: -28px;
	width: 20px;
}

#slide-5 .labels span{position: absolute;left: 0;}

#slide-5 .labels #label-1 {top:0;}
#slide-5 .labels #label-2 {top:60px;}
#slide-5 .labels #label-3 {top:170px;}
#slide-5 .labels #label-4 {top:275px;}
#slide-5 .labels #label-5 {top:385px;}

#slide-5 sup
{
	vertical-align: super;
	font-size: 10px;
}
