/*-------- RESET ---------*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
* {
    margin: 0;
    padding: 0;
}
/*-------- / RESET ---------*/
/*-------- TOP MENU ---------*/

.social-green 
{
  left: 0px; 
  top: 0px; 
  width: 200px; 
  height: 29px;
  z-index: 99;
}

.social-green a
{
  display: block;
  width: 20px;
  width: 22px\0/;
  height: 20px;
  background: url("../img/social-sprite-green.png") no-repeat;
  float: left;
  margin:5px 3px;
  position: relative;
  z-index: 99;

}

.social-green #facebook{background-position: 0 0;}
.social-green #twiter{background-position: -26px 0;}
.social-green #vk{background-position: -51px 0;}
.social-green #playi{background-position: -76px 0;}
.social-green #circ{background-position: -101px 0;}

.social-green #facebook:hover{background-position: 0 -22px;}
.social-green #twiter:hover{background-position: -26px -22px;}
.social-green #vk:hover{background-position: -51px -22px;}
.social-green #playi:hover{background-position: -76px -22px;}
.social-green #circ:hover{background-position: -101px -22px;}

.menu-top {
    height:30px;
   width: 100%;
   background:white;
   text-align: center;
}
.menu-top-inner {
    display: inline-block;
    margin: 0 auto -2px auto;
    margin: 0 auto -3px auto\0/;
   height: 29px;

}
.menu-top-inner .sound  , .menu-top-inner #sound  {
  margin-top:3px;
   float: right; 
  width: 20px;
  background: url("../img/sound-sprite.png");
  height: 20px;
  background-position: 0 -20px;
}
.menu-top-inner .sound:hover , .menu-top-inner #sound:hover  {
  background: url("../img/sound-sprite.png");
  background-position: 0 0;
}

.menu-top-inner #sound.nosond  {
  background: url("../img/sound_no.png");
  background-position: 0 0;
}


.logo {
  display: table-cell;
  width: 136px;
  height:23px;
  background:url("../img/logo.png") center center no-repeat;
}
.logo#enl {
  display: table-cell;
  width: 136px;
  height:23px;
  background:url("../img/logo_en.png") center center no-repeat;
}
.menu-top .menu-wrap {
  list-style: none;
    display: block;
}
.menu-top .menu-wrap > li {
  float: left;
  display: block;
}
.menu-top .menu-wrap > li > a {
  text-decoration: none;
  font-family: Arial;
  display: block;
  height: 30px;  
  line-height: 30px;
  padding: 0 15px;
  color:#005332;
    height:29px;
    font-size: 12px;
}
.menu-top .menu-wrap > li ul {
  display: none;
}
.menu-top .menu-wrap li:hover > a {
  background: #005332;
  color: white;
}
.menu-top .menu-wrap li:hover ul {
  display: block;
  position: absolute;
  list-style: none;
  text-align: left;
  background: #005332;
}
.menu-top .menu-wrap li ul a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-size: 13px;
  display: block;
  height: 30px;  
  line-height: 30px;
  padding: 0 15px;
}
.menu-top .menu-wrap li ul a:hover {
  background: #abd037;
}
#top-menu .menu-top-inner:after, #top-menu .menu-wrap:after {
    content:'';
    display: none;
    height: 0px;
    clear: both;
}
#top-menu {
    position: absolute;
    width:100%;
    height:auto;
    top:0px;
    left:0px;
    z-index: 99;
}
#wrapper[data-slide="1"] #top-menu {
    height:29px;
}
#wrapper[data-slide="1"] #top-menu a.logo {
    display: none;
}
#wrapper[data-slide="1"] #top-menu {
    background: white;
}
#wrapper[data-slide="1"] .menu-top {
    height:51px;
}
#wrapper[data-slide="1"] .menu-top .menu-wrap > li > a {
    color:#005332;
    height:29px;
    font-size: 12px;
}
#wrapper[data-slide="1"] .menu-top .menu-wrap li a:hover, #wrapper[data-slide="1"] .menu-top .menu-wrap li:hover > a {
  background: #005332;
    color:#fff;
}
#wrapper[data-slide="1"] .menu-top .menu-wrap li ul li a:hover {
    background: #abd037;
}
#wrapper[data-slide="1"] .menu-top .menu-wrap li:hover ul {
    background: #005332;
}
/*-------- /TOP MENU ---------*/

/*-------- SLIDE MENU---------*/

.slide-menu
{
  width: 75px;
  background:#abd037;
  display: inline-block;
  overflow: visible;
  display: none;
  position: relative;
}

.slide-menu a
{
  display: block;
  width: 84px;
  height: 72px;
  float: left;
  background: url("../img/slide-menu-def.png") no-repeat;
  position: relative;
  margin-bottom: 10px;
}

.slide-menu img
{
  position: absolute;
  z-index: 99;  
}

/*
.slide-menu #arrow-1 {margin: 68px 33px;}
.slide-menu #arrow-2 {margin: 148px 33px;}
.slide-menu #arrow-3 {margin: 228px 33px;}
.slide-menu #arrow-4 {margin: 310px 33px;}
*/
.slide-menu #arrow-1 {top: 68px;left: 33px;}
.slide-menu #arrow-2 {top: 148px;left: 33px;}
.slide-menu #arrow-3 {top: 228px;left: 33px;}
.slide-menu #arrow-4 {top: 310px;left: 33px;}

.slide-menu #item-1{background-position: 0px 0px;}
.slide-menu #item-2{background-position: 0 -78px;}
.slide-menu #item-3{background-position: 0 -156px;}
.slide-menu #item-4{background-position: 0 -234px;}
.slide-menu #item-5{background-position: 0 -312px;margin-bottom: 0;}

.slide-menu a:hover
{
  background: url("../img/slide-menu-hover.png") no-repeat;  
}

.slide-menu a.active
{
  background: url("../img/slide-menu-active.png") no-repeat;  
}


.slide-menu-min
{
  width: 39px;
  background:#abd037;
  display: inline-block;
  overflow: visible;
}

.slide-menu-min a
{
  display: block;
  width: 44px;
  height: 41px;
  float: left;
  background: url("../img/slide-menu-min.png") no-repeat;
  position: relative;
  margin-bottom: 2px;
}

.slide-menu-min a.active
{
  background: url("../img/slide-menu-min-active.png") no-repeat;
}

.slide-menu-min a:not(.active):hover
{
  background: url("../img/slide-menu-min-hover.png") no-repeat;
}

.slide-menu-min .active#item-1{background-position: 0px -0px;}
.slide-menu-min .active#item-2{background-position: 0 -41px;}
.slide-menu-min .active#item-3{background-position: 0 -82px;}
.slide-menu-min .active#item-4{background-position: 0 -123px;}
.slide-menu-min .active#item-5{background-position: 0 -162px;margin-bottom: 0;}

.slide-menu-min #item-1{background-position: 0px 0px;}
.slide-menu-min #item-2{background-position: 0 -41px;}
.slide-menu-min #item-3{background-position: 0 -82px;}
.slide-menu-min #item-4{background-position: 0 -123px;}
.slide-menu-min #item-5{background-position: 0 -164px;}


#flexcroll-1
{
  width:300px;
  background: #fff;
}

#left-menu {
    position: absolute;
    top:55%;
    left:20px;
    z-index: 99;
}
/*-------- / SLIDE MENU ---------*/

/*-------- FOOTER LOGO ---------*/
#footer-logo {
    position: absolute;
    bottom:10px;
    right:10px;
    z-index:99;
}
/*-------- / FOOTER LOGO ---------*/

/*-------- BACKGROUND VIDEO ---------*/
.ui-video-background {
    display: none;
}
/*-------- / BACKGROUND VIDEO ---------*/

/*-------- BASIC ---------*/
body {
  background: #fff;
    font-family: Arial;
    font-size:12px;
    color:#000;
    position: relative;
    min-width: 1000px;
}
html,body,#wrapper {
    width:100%;
    height:100%;
}
#loading {
    background:url('images/loading.gif') center center no-repeat;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 99999;
}

.loading-img
{
position: fixed;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
}

.loading-img img
{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}

#wrapper {
    position: relative;
    overflow:hidden;
    min-width: 1000px;
    min-height: 600px;
}
.main-slide {
    position: absolute;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    overflow: hidden;
    min-width: 1000px;
    min-height: 600px;
}
.main-slide .wrapp {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: -1;
}
.main-slide .slide-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*-------- / BASEC --------*/

/* Show Pan */
#slide-2-side-1 a {
    text-decoration: none;
    position: relative;
}
.show-pan {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -62px 0 0 -62px;
  display: block;
  width: 124px;
  height: 142px;
  background: url("../img/show-pan-sprite.png") no-repeat;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 10px;
  text-align: center;  
}

.show-pan span {
  position: relative;
  top:74px;
}
.show-pan:hover {background-position: -124px 0;}

/* Nav arrows  */
.slide-up,.slide-down {
  display: block;
  width: 55px;
  height: 22px;
  background: url("../img/slide-nav-sprite.png") no-repeat;
    position: absolute;
    left:50%;
    margin-left:-27px;
    z-index: 99;
}

.slide-down{background-position: 0 0;}
.slide-up{background-position: 0 -51px;}

.slide-down:hover{background-position: -54px 0;}
.slide-up:hover{background-position: -54px -51px;}
#slide-up {
    bottom: 10px;
    display: none;
}
#wrapper #slide-up {
    display:none !important;
}
#slide-down {
    bottom:10px;
}
#wrapper[data-slide="1"] .slide-down {
    background: url("../img/arrow-down-white.png") no-repeat;
}

#wrapper[data-slide="3"] .slide-down {
    background: url("../img/arrow-down-white.png") no-repeat;
}

#wrapper[data-slide="1"] .slide-down:hover {
    background-position: -61px 0;
}

#wrapper[data-slide="3"] .slide-down:hover {
    background-position: -61px 0;
}

#wrapper[data-slide="5"] #slide-down {
    display:none !important;
}
#wrapper[data-slide="5"] #slide-up {
    display: block !important;
}

.facebook_i{
  background-color: #abd037;
  width: 20px;
  height: 16px;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding-top: 4px;
}

.facebook_i:hover{
  background-color: #005332;
  width: 20px;
  height: 16px;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding-top: 4px;
}

.menu-top2{
  position: absolute;
  top:29px;
  width: 100%;
  z-index: 98;
  background-color: #abd037;
  height: 49px;
}

.body-top2{
  margin: 0 auto;
  width:870px;
}

.ul-top2{
  list-style: none;
  display: table-cell;
  position: relative;
}

.ul-top2>li{
  float: left;
  display: block;
  color: white;
  font-size: 13px;
  padding: 18px 26px 18px 26px;
  cursor: pointer;
  text-transform: uppercase;
}

.ul-top2>li:hover{
  float: left;
  display: block;
  color: white;
  font-size: 13px;
  padding: 18px 26px 18px 26px;
  cursor: pointer;
  background-color: #005332;
  text-transform: uppercase;
}

.act-li{
  background-color: #005332;
}

.pop{
  width: 300px;
  height: 100px;
  position: fixed;
  background-color: #abd037;
  top: 0;
  left: 40%;
  z-index: 999999;
  color: white;
  padding: 10px;
  font-size: 14px;
  top:200px;
  text-align: center;
}

.yes, .no{
  background-color: #005332;
  color: white;
  padding: 10px;
  width: 40px;
  float: left; 
  margin-left: 20px;
  cursor: pointer;
}

.temno{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  z-index: 999998;
  
}

.njs-block
{  
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 660px;
  margin: -150px 0px 0px -330px;
  background-color: #abd037;
}
.njs-block .podkladka
{
  min-width:620px;
  background-color: #231f20;
  opacity: 0.8;
  /*margin-top: -25%;*/
  width: 630px;
  height:250px;
}
div .no-js{
  width: 630px;
  height: 250px;
  padding: 20px;
}
.no-js  h1{
  font-family: Arial;
  font-size: 24px;
  color: #005332;
  font-weight: bold;
}


.blockLanguages{
	padding-left:6%;
	}
	
	.blockLanguages{
	padding-left:6%;
	}

.blockLanguages	a{
float: left;
margin: 4px 5px 0px 3px;
text-decoration:none;
width: 21px;
height: 20px;
color: #fff;
text-align: center;}	
.En{background: url('../img/en.png');}
.En.active, .En:hover{background: url('../img/en_a.png');}
.Ru{background: url('../img/ru.png');}
.Ru.active,.Ru:hover{background: url('../img/ru_a.png');}
.Ua{background: url('../img/ua.png');}
.Ua.active,.Ua:hover{background: url('../img/ua_a.png');}

		@font-face {
		font-family: 'GalsC';
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/GalsC.otf);
		}
		@font-face {
		font-family: 'GalsC-Bold';
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/GalsC-Bold.otf);
		}
		@font-face {
		font-family: 'GalsLightC';
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/GalsLightC.otf);
		}
h1 ,h2.main-logo-description, #slide-3 .text span , div.text div.title
{
	font-family:GalsC !important;
}
div.bar-bar{cursor: pointer !important;}



#loading {
background: #fff url('../img/loading.gif') center center no-repeat;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
z-index: 99999;
}
